.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-shadow: linen 1px 1px 0, linen 2px 2px 0, linen 3px 3px 0,
    linen 4px 4px 0, linen 5px 5px 0;
  text-align: center;
}
.header__element {
  margin: auto 0;
}
.content {
  padding: 20px;
  height: 100%;
  text-align: center;
  background: linen;
  border: solid 1px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.content__element--block {
  display: block;
}
.footer {
  text-align: center;
}
.content__element--disabled:disabled {
  background: rgb(114, 84, 84);
}
button:hover {
  box-shadow: 0 3px 3px #6b6d6e;
}
input:focus {
  outline: 1px solid blue;
}
input {
  display: block;
}
.content__element {
  margin: 0 auto;
}
